.App {
    margin: 0;
    padding: 0;
    color: #fff;
}

*{
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

li {
    list-style-type: none;
    padding:0;
    margin:0;
}

ul {
    padding-inline-start: 0;
}

button {
    border: none;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

/*admin view style.......................*/

.admin-content-component {
    background-color: #4f5b62;
    width: 100%;
    height: 500px;
}

.table-component {
    height: 400px;
    overflow: scroll;
    overflow-x: hidden;
}

.table-item {
    margin-bottom: 2px;
    width: 100%;
    height: 50px;
    background-color: #263238;
}

.table-item li {
    width: 150px;
    display: inline-block;
}

/*colorA: '#263238',*/
/*colorB: '#4f5b62',*/
/*buttonColor: '#000a12'*/